### GENERAL

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.supported

# common code editors
.atom/
.vscode/

# NetBeans
nbproject/private/

# JetBrains IDEs
# see https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/usage.statistics.xml
**/.idea/shelf/
**/.idea/httpRequests/
**/.idea/dataSources/
**/.idea/dataSources.local.xml
captures
# Gradle and Maven (should be auto-recreated on import)
**/.idea/modules.xml
**/.idea/libraries
gradle.xml
# *.iml will be recreated when importing the Maven project
# in case of Maven, it also contains names of resolved modules,
# that may be different for every developer (dependeing on OS, ...)
# but manually excluded dirs config wll be lost on clean import
*.iml

# common files
*.log


### PROJECT

# Maven builds (in every module)
target/

# Generated JavaDoc output folder
/docs/javadoc/

# export.sh outputs
/temp/

# local files
*.local.*
